body{
    background: linear-gradient(135deg,#dbeafe, #ecf2fa );
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 20px;
}

.container{
    width: 100%;
    max-width: 600px;
    padding: 20px;
}

.card{
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 6px 15px black;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover{
    transform: scale(1.02);
    box-shadow: 0px 10px 20px black;
}

h2{
    font-weight: bold;
    color: #353535;
}

.form-label{
    font-weight: bold;
    color: #353535;
}

.form-control{
    border-radius: 8px;
    border: 1px solid #c8c7c7;
    transition: all 0.3s;
}

.form-control:focus{
    border-color: #047cfd;
    box-shadow: 0px 0px rgba(2, 121, 248, 0.5);
}

