<!DOCTYPE html>
<html>
<head>
    <title>{{ 'Edit Chapter' if chapter else 'New Chapter'}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/add.css">
</head>
<body>
    <div class="container">
        <div class="card bg-light card shadow p-4">
            <h2 class="text-center text-dark ">{{ 'Edit Chapter' if chapter else 'New Chapter'}}</h2>
            <form action="{{ url_for('edit_chap', chap_id=chapter.chap_id) if chapter else url_for('add_chap', sub_id= subject_id)}}" method="post">
                <div class="mb-3">
                    <label for="chap" class="form-label">Name:</label>
                    <input type="text" name="chapter" id="chap" class="form-control" placeholder="Enter chapter name" value="{{ chapter.chap_name if chapter else "" }}" required>
                </div>
                <div class="mb-3">
                    <label for="des" class="form-label">Description:</label>
                    <textarea name="description" id="des" rows="3" placeholder="Enter description" class="form-control">{{ chapter.chap_description if chapter else ""}}</textarea>
                </div>
                <div class="d-flex justify-content-between">
                    <button type="submit" class="btn btn-primary bg-gradient">{{ 'Update' if chapter else 'Save'}}</button>
                    <a href="/admin" class="btn btn-dark bg-gradient">Cancel</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>