<!DOCTYPE html>
<html>
<head>
    <title>{{ quiz.quiz_name}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/quiz.css">

    
</head>
<body>

     <script>
        let duration = parseInt("{{ duration | default(0) }}") * 60;
        let dura = localStorage.getItem("storage") ? parseInt(localStorage.getItem("storage")) : duration;

        function countdown(){
            let m = Math.floor(dura/60);
            let s = dura % 60;

            document.getElementById("time").innerText=`${m}:${s < 10 ? '0' : ''}${s}`;

            if (dura > 0){
                dura--;
                localStorage.setItem("storage",dura);
                setTimeout(countdown, 1000);
            }else{
                localStorage.removeItem("storage")
                let username = encodeURIComponent("{{ username | default('') }}");
                let userId = encodeURIComponent("{{ user_id | default('')}}");
                let quizId = encodeURIComponent("{{ quiz.quiz_id | default('')}}");
                window.location.href = `/start_quiz/${username}/${userId}/quiz/${quizId}/ques_index/0?timeout=true`;
            }
        }

        window.onload = countdown;
    </script> 


    
    
    
    
    
    
    


    <div class="container mt-5">
        <h3 class="text-center mt-4 ">{{ quiz.quiz_name }}</h3>
        <div class="card">
            <div class="d-flex justify-content-between align-items-center">
                <span class="q_num">Q.No. {{ ques_index +1 }}/{{ total_questions }}</span>
                <span class="time" id="time">{{ duration }}:00</span>
            </div>
            <div class="bg-primary text-white text-center pt-2 pb-2 rounded-3 mt-3 mb-3 question-box">
                <h3 style="margin-bottom: 0.3rem;">{{ question.ques_text }}</h3>
            </div>

            <form id="quiz" method="POST" action="/start_quiz/{{ username }}/{{ user_id }}/quiz/{{ quiz.quiz_id }}/ques_index/{{ ques_index }}">
                <div class="form-check text-start mb-2">
                    <input class="form-check-input" type="radio" name="ans" id="opt1" value="{{ question.option1}}">
                    <label class="form-check-label" for="opt1">{{ question.option1 }}</label>
                </div>
                <div class="form-check text-start mb-2">
                    <input class="form-check-input" type="radio" name="ans" id="opt2" value="{{ question.option2}}">
                    <label class="form-check-label" for="opt2">{{ question.option2 }}</label>
                </div>
                <div class="form-check text-start mb-2">
                    <input class="form-check-input" type="radio" name="ans" id="opt3" value="{{ question.option3}}">
                    <label class="form-check-label" for="opt3">{{ question.option3}}</label>
                </div>
                <div class="form-check text-start mb-2">
                    <input class="form-check-input" type="radio" name="ans" id="opt4" value="{{ question.option4}}">
                    <label class="form-check-label" for="opt4">{{ question.option4}}</label>
                </div>
                <div class="mt-4 d-flex justify-content-around">
                    {% if ques_index +1 == total_questions %}
                    <button type="submit" class="btn btn-success">Submit</button>
                    {% else %}
                    <button class="btn btn-warning">Save and Next</button>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>

</body>
</html>